.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px 50px;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 46px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
}
