.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 92px 48px 92px 50px;
}

.header__links-list {
  display: flex;
  gap: 34px;
  list-style: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 136px;
}

.address {
  max-width: 240px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  z-index: 1;
  max-width: 1440px;
  max-height: 757px;
  margin: 0 auto;
  padding: 165px 50px 62px;
  color: #fff;
  text-transform: uppercase;
  background: url(../images/cover.jpg) no-repeat center/cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  margin-bottom: 135px;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  margin-bottom: 20px;
  line-height: 115%;
}

.aligned-text_center {
  margin-bottom: 20px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  font-size: 22px;
}

.cover__description-text {
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  color: inherit;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 50px 180px 50px;
  font-size: 20px;
}

.lots__heading {
  margin-left: 42px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 27px 0 30px 0;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 42px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 6px;
  column-gap: 20px;
  padding: 0 46px 180px 44px;
}

.about__logo {
  display: flex;
  grid-row: 1/1;
  justify-self: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  height: 114px;
}

.about__title {
  grid-row: 1/1;
  align-self: center;
  margin-top: 6px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 2/3;
  gap: 26px;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px 50px;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 46px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
}
